.bg-content{
    background-image: url("https://t3.ftcdn.net/jpg/02/96/84/32/240_F_296843256_YuNQecEAPgVjJ9hzGnCEtYDwbl9Eivt7.jpg");
    background-size: cover;
    height:100vh;
    color:white;
    text-align: center;